<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.og">
<head>
<meta charset="UTF-8">
<title>Adding new book in library</title>
</head>
<body>
	<b>Adding new book in library</b>
	<form th:method="POST" th:action="@{/books}" th:object="${book}">
		<label for="bookName">Enter book title:</label>
		<input type="text" th:field="*{bookName}" id="bookName"/>
		<div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Title Error</div>
		<br/>
		
		<label for="author">Enter author's name:</label>
		<input type="text" th:field="*{author}" id="author"/>
		<div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
		<br/>
		
		<label for="yearOfPrint">Enter year of print:</label>
		<input type="text" th:field="*{yearOfPrint}" id="yearOfPrint"/>
		<div style="color:red" th:if="${#fields.hasErrors('yearOfPrint')}" th:errors="*{yearOfPrint}">Year of print Error</div>
		<br/>
		
		<input type="submit" value="Add"/>
	</form>
</body>
</html>